@{
    Layout = "_Layout";
    ViewData["Title"] = "History";
}
<h1>history</h1>

<div class="results">
    @foreach (var search in Model)
    {
    <h4><a href="/repeatcounters/@search.GetId()">search #@search.GetId() | target word: @search.GetTargetWord()</a></h4>
    <form action="/repeatcounters/@search.GetId()" method="post">
        <button type="submit" name="clear-one" class="btn btn-danger btn-xs">delete search #@search.GetId()</button>
    </form>
    }
</div>

<div class="nav-buttons">
    <a href="/repeatcounters"><button class="btn btn-default">home</button></a>
    <a href="/repeatcounters/new"><button class="btn btn-warning">search</button></a>
</div>

<form action='/repeatcounters' method="post">
    <button type="submit" name="clear-all" class="btn btn-danger">clear all items</button>
</form>
