@{
    Layout = "_Layout";
    ViewData["Title"] = "History";
}
<h1>history</h1>
<h3>a list of previous searches</h3>

<div class="nav-buttons">
    <a href="/repeatcounters"><button class="btn btn-default">home</button></a>
    <a href="/repeatcounters/new"><button class="btn btn-warning">search</button></a>
</div>
