@{
    Layout = "_Layout";
    ViewData["Title"] = "Word Counter";
}

<h1>word counter</h1>

<form method="get" action="/repeatcounters/new">
    <button type="submit" class="btn btn-warning">search</button>
</form>


