@{
    Layout = "_Layout";
    ViewData["Title"] = "Word Counter";
}

<h1>word counter</h1>
<h3>word counter is a simple web application that determines the number of times a target word appears in a search phrase</h3>

<a href="/repeatcounters/new"><button class="btn btn-warning">search</button></a>
<a href="/repeatcounters/history"><button class="btn btn-success">history</button></a>


