@{
    Layout = "_Layout";
    ViewData["Title"] = "Word Counter";
}

<h1>word counter</h1>

<div class="nav-buttons">
    <a href="/repeatcounters/new"><button class="btn btn-warning">search</button></a>
    <a href="/repeatcounters/history"><button class="btn btn-success">history</button></a>
</div>



