@{
    Layout = "_Layout";
    ViewData["Title"] = "Word Counter";
}


<h1>word counter</h1>
<h6>you search, we find</h6>




<div class="home-buttons-left">
    <a href="/repeatcounters/new"><button class="btn btn-warning btn-lg">search</button></a>
</div>

<div class="home-buttons-right">
    <a href="/repeatcounters/history"><button class="btn btn-info btn-lg">history</button></a>
</div>




