@{
    Layout = "_Layout";
    ViewData["Title"] = "Word Counter";
}


<h1>word counter</h1>
<h2>you search, we find</h2>




<div class="home-buttons-left">
    <a href="/repeatcounters/new"><button class="btn btn-warning">search</button></a>
</div>

<div class="home-buttons-right">
    <a href="/repeatcounters/history"><button class="btn btn-info">history</button></a>
</div>




