@{
    Layout = "_Layout";
    ViewData["Title"] = "Search";
}

<h1>search</h1>
<h3>fill out the form with a desired target word and search phrase</h3>
<a href="/repeatcounters"><button class="btn btn-default">home</button></a>
<a href="/repeatcounters/history"><button class="btn btn-success">history</button></a>
